.hover-tab:hover {
    color: #007bff;
}

.selected {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    font-weight: bold;
}

.custom_image {
    max-width: 250px;
    height: auto;
}

.book_image {
    width: 100%;
    max-width: 125px;
    height: auto;
    min-width: 80px;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    /* Number of lines to show before ellipsis */
    -webkit-box-orient: vertical;
}

.modal:nth-of-type(even) {
    z-index: 1062 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1061 !important;
}