.form {
      width: 95%;
      max-width: 30rem;
      min-height: 450px;
      z-index: 100;
}

.error_message {
      background-color: rgb(255, 238, 221);
      border: 1px dashed red;
      max-width: 100%;
      display: none;
}

.error_message svg {
      width: 32px;
      height: 32px;
}

.background {
      background-image: url('/assets/images/bookstore-bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(8px);
      position: absolute;
      height: 100%;
      width: 100%;
}